include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			article.content-cc.article
			
				div.first_part
					//- banner modulo
					+banner('banner-1')
				
					//- menu
					+menu
			
				+titulos-modulo('Módulo 1. Prevención Primaria.')
					
				h3 REFERENCIAS
				
				ol
					li Global Strategy for the Diagnosis, Management, and Prevention of Chronic Obstructive Lung Disease 2019 Report. 2018 Nov 14.
					li National Clinical Guideline Centre (UK). editor. Chronic Obstructive Pulmonary Disease:
					li gement of Chronic Obstructive Pulmonary Disease in Adults in Primary and Secondary Care 2010.
					li Barnes PJ. New treatments for COPD. Nat Rev Drug Discov 2002;1(6):437-446.
					li Grupo de trabajo de la Guía de Práctica Clínica para el Tratamiento de Pacientes con
					li rmedad Pulmonar Obstructiva. Guía de Práctica Clínica para el Tratamiento de Pacientes con Enfermedad Pulmonar Obstructiva Crónica (EPOC). Plan de Calidad para el Sistema Nacional de Salud del Ministerio de Sanidad, Servicios Sociales e Igualdad. Unidad de Evaluación de Tecnologías Sanitarias de la Agencia Laín Entralgo 2012;Guías de Práctica Clínica en el SNS: UETS Nº 2011/6.
					li Kruse GR, Kalkhoran S, Rigotti NA. Use of electronic cigarettes among U.S. adults with medical comorbidities. Am J Prev Med. 2017;52(6):798–804.
					li Morjaria, J. B., Mondati, E., & Polosa, R. (2017). E-cigarettes in patients with COPD: current perspectives. International journal of chronic obstructive pulmonary disease, 12, 3203-3210. doi:10.2147/COPD.S135323
					li Núñez-Naveira L, Montero-Martínez C, Ramos-Barbón D. Oxidación, inflamación y modificaciones estructurales. Archivos de Bronconeumologia 2007;43(43):18-29.
					li Halbert RJ, Natoli JL, Gano A, Badamgarav E, Buist AS, Mannino DM. Global burden of COPD: systematic review and meta-analysis. European Respiratory Journal 2006 Sep 1,;28(3):523-532. 
					li Doll R, Peto R, Wheatley K, et al. Mortality in relation to smoking: 40 years on male british doctors. BMJ 1994; 309:901-911.
					li Kohansal R, Martinez-Camblor P, Agusti A, Buist AS, Mannino DM, Soriano JB. The natural history of chronic airflow obstruction revisited: an analysis of the Framingham offspring cohort. Am J Respir Crit Care Med 2009 Jul 1;180(1):3-10. 
					li letcher C, Peto R. The natural history of chronic airflow obstruction. Br Med J. 1977 Jun 25;1(6077):1645-8.
					li Asociación Colombiana de Neumología y Cirugía de Tórax. Enfermedad pulmonar obstructiva crónica – EPOC. Diagnóstico y manejo integral. Recomendaciones. Rev Colomb Neumol 2003;15(supl):S1-S34.
					li Peña VS, Miravitlles M, Gabriel R, Jiménez-Ruiz CA, Villasante C, Masa JF, et al. Geographic variations in prevalence and underdiagnosis of COPD: results of the IBERPOC multicentre epidemiological study. Chest 2000 Oct;118(4):981.
					li CDC. Chronic Obstructive Pulmonary Disease Among Adults — United States 2011. Weekly2012 November 23, 2012;61(46):938-943.
					li enezes A, Perez-Padilla R, Jardim J, et al. Chronic obstructive pulmonary disease in five Latin American cities (the PLATINO study): a prevalence study. Lancet 2005;366:1875–1881.
					li aballero A, Torres CA, Jaramillo C, Bolívar F, Sanabria F, Osorio P, et al. Prevalence of COPD in five Colombian cities situated at low, medium, and high altitude (PREPOCOL study). Chest 2008.Feb;133(2):343-9.
					li Danielsson P, Ólafsdóttir IS, Benediktsdóttir B, Gíslason T, Janson C. The prevalence of chronic obstructive pulmonary disease in Uppsala, Sweden – the Burden of Obstructive Lung Disease (BOLD) study: cross‐sectional population‐based study. The Clinical Respiratory Journal 2012 Apr;6(2):120-1
					li West JB. Fisiología respiratoria. Buenos Aires: Editorial Médica Panamericana; 2002.
					li U.S. Department of Health and Human Services. A Report the Surgeon General: How Tobacco Smoke Causes Disease: What It Means to You. Services, Centers for Disease Control Prevention,National Center Chronic Prevention Promotion, Office on Smoking Health 2010.
					li eenan CR, Radojicic D, Li M, Radwan A, Stewart AG. Heterogeneity in mechanisms influencing glucocorticoid sensitivity: The need for a systems biology approach to treatment of glucocorticoid-resistant inflammation. Pharmacology and Therapeutics 2015 Jun;150:81-93.
					li Singh D, Kolsum U, Brightling CE, Locantore N, Agusti A, Tal-Singer R. Eosinophilic inflammation in COPD: prevalence and clinical characteristics. European Respiratory Journal 2014 Dec 16,;44(6):1697-1700.
					li Rivera Rodríguez D, Niño Bogoya A. ABC de la Ley Antitabaco. Ley 1335 de 2009.
					li inisterio de salud y protección social – Colciencias. Guía de práctica clínica. Basada en la evidencia para la prevención, diagnóstico, tratamiento y seguimiento de la enfermedad pulmonar obstructiva crónica (EPOC) en población adulta - 2014 Guía No. 28
					li inisterio de salud y protección social Universidad Javeriana.Programa para la cesación del consumo de tabaco y atención del tabaquismo. 2017. Disponible en : 
						a(href='https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/PP/ENT/programa-cesacion-tabaco.pdf' target='_blank') https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/PP/ENT/programa-cesacion-tabaco.pdf
					li inisterio de salud y protección social. ABECÉ: Cesación del consumo de tabaco: consejería breve.2018.Disponible: 
						a(href='https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/PP/ENT/abece-consejeria-breve.pdf' target='_blank') https://www.minsalud.gov.co/sites/rid/Lists/BibliotecaDigital/RIDE/VS/PP/ENT/abece-consejeria-breve.pdf.
					li inisterio de Salud de la Nación (Argentina).  Guía de Práctica Clínica Nacional de Tratamiento de la Adicción al Tabaco. Recomendaciones basadas en la evidencia científica 2016. 
					li Universidad del Rosario.Periodico-NovaEtVetera.Febrero 2019. Disponible 
						a(href='http://www.urosario.edu.co/Periodico-NovaEtVetera/Medio-Ambiente/Bogota-en-alerta-amarilla-por-contaminacion-ambie/' target='_blank') http://www.urosario.edu.co/Periodico-NovaEtVetera/Medio-Ambiente/Bogota-en-alerta-amarilla-por-contaminacion-ambie/
					li Pulido-Alvarez A,Pinzon Silva DC, Rodríguez NI, et al. Opciones en Colombia para la regulación del uso de sistemas electrónicos con o sin dispensación de nicotina: un resumen de evidencias para política. 2018.
					
					
				
				//- texto resaltado
				div
					div.span10.resaltado-txt
						p En el siguiente enlace puede ingresar a realizar un pretest (no calificable)
						a(href="https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=301266&chapterid=9148" class="forward") Comenzar Post test
							
							
				//- progeso
				div.progreso
					h2 progreso
					div#progreso100
						
						
				
						
				
				//- Material modulo
				+material-modulo('material-mod-1')
				
				//- progrso y contador
				+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=301266&chapterid=9022', 'back', '#', 'disabled')
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			