include ../mixins.jade

//- Head html tag
include ../includes/header.jade

//- Content
div.curso-cc
			
	div.container-fluid
		div.row-fluid
			article.content-cc.article
			
				div.first_part
					//- banner modulo
					+banner('banner-0')
				
					//- menu
					+menu
			
				+titulos-modulo('Módulo 0. Lineamientos')
				
				h2 OBJETIVOS
				
				p Para el desarrollo exitoso del programa, la División de Educación Continuada de la Universidad El Bosque ha definido los siguientes lineamientos que deben ser cumplidos para aprobar el Diplomado. Por favor lea con atención las siguientes indicaciones:
				
				ol
					li El programa es de carácter virtual con una duración de 48 horas. Se desarrollará a través de la plataforma Moodle 3.2.2, la cual le permitirá avanzar en su aprendizaje en un entorno seguro, amigable e intuitivo al cual podrá acceder a cualquier hora y desde donde usted desee.
					li Para facilitar su acceso a la plataforma, le sugerimos que lea el Instructivo de Ingreso que le ha sido enviado previamente a su correo electrónico. Si llega a tener inconvenientes para ingresar, por favor escríbanos a 
						a(href='mailto:coordinaciontics@unbosque.edu.co' target='_blank') coordinaciontics@unbosque.edu.co
					li Le recomendamos descargar e instalar Adobe Reader 11 para facilitar la visualización de los instructivos y demás documentos relacionados con el desarrollo del Diplomado. En caso de que no lo tenga instalado, puede descargarlo sin costo en este vínculo:
						a(href='https://get.adobe.com/es/reader/' target='_blank') https://get.adobe.com/es/reader/.
					li Si desea conocer más acerca de la Política de Educación Virtual y a Distancia de la Universidad El Bosque, puede descargarla en este vínculo:
						a(href='http://www.uelbosque.edu.co/institucional/documentos/politicas/educacion_virtual_distancia' target='_blank') http://www.uelbosque.edu.co/institucional/documentos/politicas/educacion_virtual_distancia
				
				h3 OBJETIVO GENERAL:

				p Actualizar el manejo de la EPOC desde la promoción y prevención hasta la rehabilitación.
				
				h3 OBJETIVOS ESPECÍFICOS:
				
				ul 
					li Revisar conceptos de la EPOC desde la promoción y prevención hasta la rehabilitación
				
					li Revisar el uso de nuevas tecnologías en el manejo de la EPOC
				
					li Concientizarse acerca de cómo no hacer daño con el manejo de la EPOC
				
				h3 DIRIGIDO A:
				p Médicos generales y especialistas en medicina familiar y medicina interna
					br/ INTENSIDAD HORARIA:
					br/ 48 horas

						
				
				//- Material modulo
				//- +material-modulo('material-mod-1')
				
				//- progrso y contador
				+paginador('https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=311787&chapterid=9191', 'back', 'https://ubosquemoodle.unbosque.edu.co/mod/book/view.php?id=311787&chapterid=9235', 'forward')
	

//- Final part of body
//- Page transitions js
include ../includes/js-body-ends.jade
		
		
			