// -----------------------
// lightbox
// -----------------------

.curso-cc,
#region-main .curso-cc{
	
	.banner-video{
		
		@include max-width;
		margin: 1rem auto 2rem;
		display: flex;
		align-items: flex-end;
		
		#video{
			//border: 1px solid;
			
			img{
				width: 100%;
				height: auto;
			}
			
			a{
				display: inline-block;
				position: relative;
				transition: all .2s ease-in-out;
				border: 6px solid $color_brand_blue;
				
				&:hover{
					box-shadow: 0px 0px 20px rgba(0, 103, 198, 0.4);
				}
				
				&:before{
					font-family: FontAwesome;
					font-weight: normal;
					font-style: normal;
					display: inline-block;
					content: "\f00e";
					position: absolute;
					bottom: 0;
					font-size: 40px;
					text-decoration: none;
					left: 0;
					z-index: 1;
					border: 1px solid $color_brand_blue;
					padding: 1rem .5rem;
					background: $color_brand_blue;
					color: $color_white;
				}
			}
			
		}
		
		span{
			
			&:last-child{
				min-height: 0px;
				word-break: break-word;
			}
			
		}
		
		.img-footer{
			padding-left: 1rem;
			@include font_universal (
				$font_family_line_height: 18px,
				$font_family_weight: 300,
				$font_family_size: 14px,
				$font_family_color: $color_brand_blue
			);
		}
		
	}
	
}